flows_DESKTOP-F5Q426D.json
[{"id":"3bc064b5.75865c","type":"tab","label":"HTTP Request","disabled":false,"info":""},{"id":"a35ac5c2.83bca8","type":"tab","label":"BNI008Z","disabled":false,"info":""},{"id":"3184f3da.e5f84c","type":"tab","label":"BAE00TK","disabled":false,"info":""},{"id":"9580e305.de522","type":"tab","label":"BTL1AR0","disabled":false,"info":""},{"id":"11983c9c.013453","type":"tab","label":"BOD0012","disabled":false,"info":""},{"id":"1f8d397e.070a67","type":"tab","label":"Blinking led","disabled":true,"info":""},{"id":"e43f33ee.77fc6","type":"tab","label":"Multi device-gauge ","disabled":true,"info":""},{"id":"396b91b7.84134e","type":"tab","label":"BNI 803","disabled":true,"info":""},{"id":"da51a6d1.2a0898","type":"tab","label":"Handbook UDP","disabled":true,"info":""},{"id":"45d2621c.56598c","type":"subflow","name":"Color status Led","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"f9c72548.d70fc8"}]}],"out":[{"x":340,"y":80,"wires":[{"id":"f9c72548.d70fc8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"51d99cff.543894","type":"subflow","name":"Color Comm Led","info":"","category":"","in":[{"x":140,"y":40,"wires":[{"id":"690a016d.9660e"}]}],"out":[{"x":440,"y":40,"wires":[{"id":"690a016d.9660e","port":0}]},{"x":440,"y":100,"wires":[{"id":"690a016d.9660e","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"67e78992.40b628","type":"subflow","name":"Color Port Led","info":"","category":"","in":[{"x":80,"y":60,"wires":[{"id":"b4cbac57.2869c"}]}],"out":[{"x":360,"y":60,"wires":[{"id":"b4cbac57.2869c","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"acbb5738.a5c768","type":"ui_tab","z":"","name":"BTL","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"b2ffbd2f.f16","type":"ui_group","z":"","name":"Distance","tab":"acbb5738.a5c768","order":1,"disp":true,"width":"6","collapse":false},{"id":"33ff6b31.ddfab4","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0074cc","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#e73446","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#e73446","edited":true},"page-titlebar-backgroundColor":{"value":"#e73446","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#ef7884","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#e73446","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":25,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b6a7ed60.c43ed","type":"ui_group","z":"","name":"Diagnostic Module","tab":"102521ad.55a22e","order":1,"disp":true,"width":"6","collapse":false},{"id":"1be61452.e098bc","type":"ui_group","z":"","name":"Blinking LED","tab":"7ab85675.dd7e78","order":1,"disp":true,"width":"6"},{"id":"7ab85675.dd7e78","type":"ui_tab","z":"","name":"Blinking LED","icon":"dashboard","order":6},{"id":"e75d6c55.0e0a","type":"ui_group","z":"","name":"Diagnostic Process","tab":"102521ad.55a22e","order":3,"disp":true,"width":"6","collapse":false},{"id":"7b1ceeb1.85093","type":"ui_group","z":"","name":"Dynamic device gauge Picker","tab":"78d175d0.6cfcbc","order":2,"disp":true,"width":"6","collapse":false},{"id":"78d175d0.6cfcbc","type":"ui_tab","name":"Tab 3","icon":"dashboard","order":5},{"id":"102521ad.55a22e","type":"ui_tab","z":"","name":"BNI008Z","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"7efb25f.2ad91dc","type":"ui_spacer","name":"spacer","group":"b6a7ed60.c43ed","order":5,"width":6,"height":1},{"id":"f17ccf93.40d0d","type":"ui_spacer","name":"spacer","group":"44c1292.db583d8","order":3,"width":1,"height":1},{"id":"ff1d3cdb.d681","type":"ui_tab","z":"","name":"BOD","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"cdfc369f.413fa8","type":"ui_group","z":"","name":"Distance","tab":"ff1d3cdb.d681","order":1,"disp":true,"width":"6","collapse":false},{"id":"214afd7a.668472","type":"ui_group","z":"","name":"Switch Points","tab":"ff1d3cdb.d681","order":2,"disp":true,"width":"6","collapse":false},{"id":"55b737aa.fb0af8","type":"influxdb","z":"","hostname":"3.23.114.164","port":"8086","protocol":"http","database":"Balluff_DB","name":"","usetls":false,"tls":""},{"id":"de63b1a2.2bb1a","type":"ui_tab","z":"","name":"BAE","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"ab2a7826.982e38","type":"ui_group","z":"","name":"Voltage & Current","tab":"de63b1a2.2bb1a","order":1,"disp":true,"width":"6","collapse":false},{"id":"2f20d031.c9891","type":"ui_group","z":"","name":"BDC","tab":"de63b1a2.2bb1a","order":2,"disp":true,"width":"6","collapse":false},{"id":"9052e008.03c8c","type":"comment","z":"a35ac5c2.83bca8","name":"This flow works with a BNI008Z  (vH06_S3.6). In newer BNI´s the endpoints are different.","info":"","x":340,"y":40,"wires":[]},{"id":"bcf20d8d.00db1","type":"ui_led","z":"a35ac5c2.83bca8","group":"b6a7ed60.c43ed","order":2,"width":0,"height":0,"label":"UA (\tActuator Supply)","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Led UA","x":900,"y":140,"wires":[]},{"id":"d6b77143.9f4b2","type":"function","z":"a35ac5c2.83bca8","name":"function","func":"//Function to extract diagnostic data from the master\n\nvar US = {payload: msg.payload[0].US};\nvar UA = {payload: msg.payload[0].UA};\nvar MODST = {payload: msg.payload[0].MODST};\nvar NETST = {payload: msg.payload[0].NETST};\nvar LS0 = {payload: msg.payload[0].linkSpeed0};\nvar LS1 = {payload: msg.payload[0].linkSpeed1};\n\nreturn [US, UA, MODST, NETST, LS0, LS1];","outputs":6,"noerr":0,"x":400,"y":120,"wires":[["1e205bba.2209f4"],["2001430a.eec29c"],["55d612a5.cdf84c"],["a9293bba.537898"],["64c48e3.4d4887"],["79dacde9.4065b4"]]},{"id":"f9c72548.d70fc8","type":"function","z":"45d2621c.56598c","name":"function","func":"var aux = msg.payload\n\nif (aux == \"gnst\"){    //solid green\n    msg.payload = true; \n    node.send(msg);}\n    \nelse if (aux == \"rdst\"){    //solid red\n    msg.payload = false; \n    node.send(msg);}\n    \nelse if (aux == \"gnfl\"){     //flash green\n    setTimeout(function(){\n    msg.payload = true;\n    node.send(msg);\n    }, 500);\n\n    msg.payload = \"\";\n    node.send (msg);}\nelse if (aux == \"rdfl\"){     //flash red\n    setTimeout(function(){\n    msg.payload = true;\n    node.send(msg);\n    }, 500);\n\n    msg.payload = \"\";\n    node.send (msg);}","outputs":1,"noerr":0,"x":200,"y":80,"wires":[[]]},{"id":"68e38736.0e9b08","type":"ui_led","z":"a35ac5c2.83bca8","group":"b6a7ed60.c43ed","order":4,"width":0,"height":0,"label":"NET (Network Status)","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Led NET","x":900,"y":220,"wires":[]},{"id":"eeda5876.dce978","type":"ui_led","z":"a35ac5c2.83bca8","group":"b6a7ed60.c43ed","order":1,"width":0,"height":0,"label":"US (Sensor and Module Supply)","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Led US","x":900,"y":100,"wires":[]},{"id":"242c91b4.fcfe9e","type":"ui_led","z":"a35ac5c2.83bca8","group":"b6a7ed60.c43ed","order":3,"width":0,"height":0,"label":"MOD (Module Status)","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Led MOD","x":900,"y":180,"wires":[]},{"id":"1e205bba.2209f4","type":"subflow:45d2621c.56598c","z":"a35ac5c2.83bca8","name":"Color status Led","env":[],"x":660,"y":100,"wires":[["eeda5876.dce978"]]},{"id":"cf829d8.5be836","type":"trigger","z":"1f8d397e.070a67","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"500","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":340,"y":60,"wires":[["9cf3ea47.5d0908"]]},{"id":"b3776200.e7e2e","type":"inject","z":"1f8d397e.070a67","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"1","x":140,"y":60,"wires":[["cf829d8.5be836"]]},{"id":"5ab9e1f.dd5e32","type":"ui_led","z":"a35ac5c2.83bca8","group":"b6a7ed60.c43ed","order":6,"width":0,"height":0,"label":"100 (Link Speed 1)","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"orange","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Led 100","x":900,"y":260,"wires":[]},{"id":"834cf2c1.a315b","type":"ui_led","z":"a35ac5c2.83bca8","group":"b6a7ed60.c43ed","order":7,"width":0,"height":0,"label":"LK1 (Link Activity 1)","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Led LK1","x":900,"y":300,"wires":[]},{"id":"2001430a.eec29c","type":"subflow:45d2621c.56598c","z":"a35ac5c2.83bca8","name":"Color status Led","env":[],"x":660,"y":140,"wires":[["bcf20d8d.00db1"]]},{"id":"55d612a5.cdf84c","type":"subflow:45d2621c.56598c","z":"a35ac5c2.83bca8","name":"Color status Led","env":[],"x":660,"y":180,"wires":[["242c91b4.fcfe9e"]]},{"id":"a9293bba.537898","type":"subflow:45d2621c.56598c","z":"a35ac5c2.83bca8","name":"Color status Led","env":[],"x":660,"y":220,"wires":[["68e38736.0e9b08"]]},{"id":"690a016d.9660e","type":"function","z":"51d99cff.543894","name":"function","func":"var aux = msg.payload\n\nif (aux == \" \"){    \n    msg1 = {payload: false};   //both off\n    msg2 = {payload: false};\n    node.send([msg1, msg2]);}  \n    \nelse if (aux == \"100 Mbit/s FULL\"){    \n    msg1 = {payload: true};   //solid orange\n    msg2 = {payload: true};    //solid green\n    node.send([msg1, msg2]);}\n    \nelse if (aux == \"10 Mbit/s FULL\"){    \n    msg1 = {payload: false};   //off\n    msg2 = {payload: true};    //solid green\n    node.send([msg1, msg2]);}     \n\n\n    ","outputs":1,"noerr":0,"x":300,"y":40,"wires":[[]]},{"id":"64c48e3.4d4887","type":"subflow:51d99cff.543894","z":"a35ac5c2.83bca8","name":"","env":[],"x":670,"y":260,"wires":[["5ab9e1f.dd5e32"],["834cf2c1.a315b"]]},{"id":"f6f866c6.d0eeb8","type":"ui_led","z":"a35ac5c2.83bca8","group":"b6a7ed60.c43ed","order":8,"width":0,"height":0,"label":"100 (Link Speed 2)","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"orange","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Led 100","x":900,"y":340,"wires":[]},{"id":"7b7fcdb8.4f8304","type":"ui_led","z":"a35ac5c2.83bca8","group":"b6a7ed60.c43ed","order":9,"width":0,"height":0,"label":"LK2 (Link Activity 2)","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Led LK2","x":900,"y":380,"wires":[]},{"id":"79dacde9.4065b4","type":"subflow:51d99cff.543894","z":"a35ac5c2.83bca8","name":"","env":[],"x":670,"y":300,"wires":[["f6f866c6.d0eeb8"],["7b7fcdb8.4f8304"]]},{"id":"9cf3ea47.5d0908","type":"ui_led","z":"1f8d397e.070a67","d":true,"group":"1be61452.e098bc","order":10,"width":0,"height":0,"label":"Test","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":530,"y":60,"wires":[]},{"id":"3b721312.b7fc2c","type":"ui_dropdown","z":"a35ac5c2.83bca8","name":"","label":"Port","tooltip":"","place":"Select option","group":"e75d6c55.0e0a","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Port 0","value":0,"type":"num"},{"label":"Port 1","value":1,"type":"num"},{"label":"Port  2","value":2,"type":"num"},{"label":"Port 3","value":3,"type":"num"},{"label":"Port 4","value":4,"type":"num"},{"label":"Port 5","value":5,"type":"num"},{"label":"Port 6","value":6,"type":"num"},{"label":"Port 7","value":7,"type":"num"}],"payload":"","topic":"","x":230,"y":760,"wires":[["f6f5a871.752e78"]]},{"id":"d9ec21b4.698a4","type":"inject","z":"e43f33ee.77fc6","name":"Device 1","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":300,"wires":[["ae86772e.6b7118"]]},{"id":"aed9e820.1affa8","type":"inject","z":"e43f33ee.77fc6","name":"Device 2","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":340,"wires":[["afed1699.ee4b38"]]},{"id":"5c745e57.26e43","type":"inject","z":"e43f33ee.77fc6","name":"Device 3","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":380,"wires":[["35d5ee6a.474892"]]},{"id":"c5f7c66e.ee1af8","type":"change","z":"e43f33ee.77fc6","name":"topic = \"device1\"","rules":[{"t":"set","p":"topic","pt":"msg","to":"device1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":300,"wires":[["d9ecba12.fa5948"]]},{"id":"1a027b07.e95d15","type":"change","z":"e43f33ee.77fc6","name":"topic = \"device2\"","rules":[{"t":"set","p":"topic","pt":"msg","to":"device2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":340,"wires":[["d9ecba12.fa5948"]]},{"id":"ca6a5e2b.74af1","type":"change","z":"e43f33ee.77fc6","name":"topic = \"device3\"","rules":[{"t":"set","p":"topic","pt":"msg","to":"device3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":380,"wires":[["d9ecba12.fa5948"]]},{"id":"4f322f3f.6591f","type":"ui_dropdown","z":"e43f33ee.77fc6","name":"","label":"","tooltip":"","place":"Select option","group":"7b1ceeb1.85093","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Device 1","value":"device1","type":"str"},{"label":"Device 2","value":"device2","type":"str"},{"label":"Device 3","value":"device3","type":"str"}],"payload":"","topic":"","x":110,"y":480,"wires":[["bd26f271.405cc"]]},{"id":"bd26f271.405cc","type":"change","z":"e43f33ee.77fc6","name":"topic = msg.payload","rules":[{"t":"set","p":"device","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":304,"y":479,"wires":[[]]},{"id":"6da0033f.fbae9c","type":"ui_gauge","z":"e43f33ee.77fc6","name":"","group":"7b1ceeb1.85093","order":1,"width":0,"height":0,"gtype":"gage","title":"{{msg.topic}}","label":"units","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":930,"y":340,"wires":[]},{"id":"d9ecba12.fa5948","type":"switch","z":"e43f33ee.77fc6","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"device","vt":"flow"},{"t":"eq","v":"device","vt":"flow"},{"t":"eq","v":"device","vt":"flow"}],"checkall":"true","repair":false,"outputs":3,"x":650,"y":340,"wires":[["6da0033f.fbae9c","4da40c27.516704"],["6da0033f.fbae9c","742e9c16.1c5e74"],["6da0033f.fbae9c","2ac53ad6.de2f66"]]},{"id":"15e2bf44.46d631","type":"inject","z":"e43f33ee.77fc6","name":"initilize the flow variable \"device\"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":200,"y":220,"wires":[["5423df31.0754e"]]},{"id":"5423df31.0754e","type":"change","z":"e43f33ee.77fc6","name":"topic = \"device1\"","rules":[{"t":"set","p":"device","pt":"flow","to":"device1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":220,"wires":[[]]},{"id":"2ac53ad6.de2f66","type":"debug","z":"e43f33ee.77fc6","name":"DEBUG: Device 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":500,"wires":[]},{"id":"742e9c16.1c5e74","type":"debug","z":"e43f33ee.77fc6","name":"DEBUG: Device 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":460,"wires":[]},{"id":"4da40c27.516704","type":"debug","z":"e43f33ee.77fc6","name":"DEBUG: Device 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":420,"wires":[]},{"id":"5a2335.c4d37ccc","type":"comment","z":"e43f33ee.77fc6","name":"initilize flow variable at deploy","info":"","x":160,"y":180,"wires":[]},{"id":"4993acf8.ef6314","type":"comment","z":"e43f33ee.77fc6","name":"This section simulates data coming from three devices","info":"","x":240,"y":260,"wires":[]},{"id":"8943fd81.8b697","type":"comment","z":"e43f33ee.77fc6","name":"the switch determines which data goes to the gauge","info":"","x":790,"y":300,"wires":[]},{"id":"1662f84.6ad7308","type":"comment","z":"e43f33ee.77fc6","name":"Dropdown to pick device to monitor","info":"","x":180,"y":440,"wires":[]},{"id":"608c1fd1.f2876","type":"comment","z":"e43f33ee.77fc6","name":"This flow demonstrate how three devices could send data to a single gauge","info":"","x":310,"y":40,"wires":[]},{"id":"98277bf4.02cf18","type":"comment","z":"e43f33ee.77fc6","name":"The devices send random data in groups to trigger the gauge's color","info":"","x":280,"y":80,"wires":[]},{"id":"2911f2.03ea2e0e","type":"comment","z":"e43f33ee.77fc6","name":"Device 1 : 1-10 (green) - Device 2 : 11-20 (yellow) - Device 3 : 21-30 (red)","info":"","x":300,"y":120,"wires":[]},{"id":"ae86772e.6b7118","type":"random","z":"e43f33ee.77fc6","name":"random  1-10","low":"1","high":"10","inte":"true","property":"payload","x":270,"y":300,"wires":[["c5f7c66e.ee1af8"]]},{"id":"afed1699.ee4b38","type":"random","z":"e43f33ee.77fc6","name":"random 11-20","low":"11","high":"20","inte":"true","property":"payload","x":280,"y":340,"wires":[["1a027b07.e95d15"]]},{"id":"35d5ee6a.474892","type":"random","z":"e43f33ee.77fc6","name":"random 21-30","low":"21","high":"30","inte":"true","property":"payload","x":280,"y":380,"wires":[["ca6a5e2b.74af1"]]},{"id":"f6f5a871.752e78","type":"change","z":"a35ac5c2.83bca8","name":"","rules":[{"t":"set","p":"Port","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":760,"wires":[[]]},{"id":"6d3c91e8.6273b","type":"function","z":"a35ac5c2.83bca8","name":"","func":"var msg1 = {payload: flow.get(\"Puerto\")};\nreturn msg1;","outputs":1,"noerr":0,"x":590,"y":980,"wires":[["e034843a.b202e8"]]},{"id":"e034843a.b202e8","type":"debug","z":"a35ac5c2.83bca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":980,"wires":[]},{"id":"d99e3e2b.d793a","type":"inject","z":"a35ac5c2.83bca8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":980,"wires":[["6d3c91e8.6273b"]]},{"id":"675f6b75.366a84","type":"function","z":"a35ac5c2.83bca8","name":"function","func":"//Function to extract process data from the master\n\n//Generate the two digits of the indexes to read\nvar nroLed1 = ((flow.get(\"Port\")*2).toString()).padStart(2,\"0\");\nvar nroLed2 = (((flow.get(\"Port\")*2)+1).toString()).padStart(2,\"0\");\n\n//Generate the text of the indexes\nvar p__Led1 = \"p\"+nroLed1+\"Led\";   \nvar p__Led2 = \"p\"+nroLed2+\"Led\";\nvar p__ProductName = \"p\"+nroLed1+\"ProductName\"\nvar p__VendorName = \"p\"+nroLed1+\"VendorName\"\nvar p__Status = \"p\"+nroLed1+\"Status\"\nvar p__DirectParam = \"p\"+nroLed1+\"DirectParam\"\n\nvar Led1 = {payload: msg.payload[0][p__Led1]};\nvar Led2 = {payload: msg.payload[0][p__Led2]};\nvar ProductName = {payload: msg.payload[0][p__ProductName]};\nvar VendorName = {payload: msg.payload[0][p__VendorName]};\nvar Status = {payload: msg.payload[0][p__Status]};\nvar DirectParam = {payload: msg.payload[0][p__DirectParam]};\n\nreturn [Led1, Led2, ProductName, VendorName, Status, DirectParam];\n","outputs":6,"noerr":0,"x":400,"y":500,"wires":[["d3c90f9c.b9cc"],["1485fdab.21e692"],["2e1bbab8.b7c896"],["2e7be926.b8cc86"],["c2c0ae40.ad136"],["a41f45e1.9f6de8"]]},{"id":"c2c0ae40.ad136","type":"debug","z":"a35ac5c2.83bca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":640,"wires":[]},{"id":"a41f45e1.9f6de8","type":"debug","z":"a35ac5c2.83bca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":680,"wires":[]},{"id":"b4cbac57.2869c","type":"function","z":"67e78992.40b628","name":"function","func":"var aux = msg.payload\n\nif (aux == \"gnst\"){    //solid green\n    msg.payload = true; \n    node.send(msg);}\n    \nelse if (aux == \"rdst\"){    //solid red\n    msg.payload = false; \n    node.send(msg);}\n    \nelse if (aux == \"gnfl\"){     //flash green\n    setTimeout(function(){\n    msg.payload = true;\n    node.send(msg);\n    }, 500);\n\n    msg.payload = \"\";\n    node.send (msg);}\nelse if (aux == \"rdfl\"){     //flash red\n    setTimeout(function(){\n    msg.payload = true;\n    node.send(msg);\n    }, 500);\n\n    msg.payload = \"\";\n    node.send (msg);}\n    \nelse if (aux == \"bkst\"){    //off\n    msg.payload = \"\"; \n    node.send(msg);}","outputs":1,"noerr":0,"x":220,"y":60,"wires":[[]]},{"id":"d3c90f9c.b9cc","type":"subflow:67e78992.40b628","z":"a35ac5c2.83bca8","name":"","x":660,"y":480,"wires":[["b4fbe8c7.b206f8"]]},{"id":"1485fdab.21e692","type":"subflow:67e78992.40b628","z":"a35ac5c2.83bca8","name":"","x":660,"y":520,"wires":[["ad3ecbb4.648fc8"]]},{"id":"b4fbe8c7.b206f8","type":"ui_led","z":"a35ac5c2.83bca8","group":"e75d6c55.0e0a","order":4,"width":0,"height":0,"label":"Pin 4","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Led 1","x":890,"y":480,"wires":[]},{"id":"ad3ecbb4.648fc8","type":"ui_led","z":"a35ac5c2.83bca8","group":"e75d6c55.0e0a","order":5,"width":0,"height":0,"label":"Pin 2","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Led 2","x":890,"y":520,"wires":[]},{"id":"2e1bbab8.b7c896","type":"ui_text","z":"a35ac5c2.83bca8","group":"e75d6c55.0e0a","order":2,"width":0,"height":0,"name":"Product Name","label":"Product","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":560,"wires":[]},{"id":"2e7be926.b8cc86","type":"ui_text","z":"a35ac5c2.83bca8","group":"e75d6c55.0e0a","order":3,"width":0,"height":0,"name":"Vendor Name","label":"Vendor","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":600,"wires":[]},{"id":"55449ff.1ea856","type":"inject","z":"396b91b7.84134e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":80,"wires":[["4f42e795.f720a8"]]},{"id":"4f42e795.f720a8","type":"http request","z":"396b91b7.84134e","name":"http request (Devices Properties)","method":"GET","ret":"obj","paytoqs":false,"url":"192.168.0.10/dprop.jsn","tls":"","persist":false,"proxy":"","authType":"","x":420,"y":80,"wires":[["39a4c4e8.2afa5c","38f20ff6.103c2"]]},{"id":"39a4c4e8.2afa5c","type":"debug","z":"396b91b7.84134e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":80,"wires":[]},{"id":"fbf23d1a.2c57e","type":"debug","z":"396b91b7.84134e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":978,"y":140,"wires":[]},{"id":"38f20ff6.103c2","type":"function","z":"396b91b7.84134e","name":"function","func":"BNI803={};\nvar aux = (msg.payload[7].ProcessInputs).replace(/\\s/g,\"\"); //eliminamos los espacios en blanco\nBNI803.payload = parseInt(aux.slice(0,2),16); //dejamos los primeros 4 caracteres, convertimos a numero y dividimos por 1000 para tener la distancia en mm\nreturn BNI803;","outputs":1,"noerr":0,"x":720,"y":140,"wires":[["fbf23d1a.2c57e"]]},{"id":"ac9793ac.fe4e","type":"http request","z":"396b91b7.84134e","name":"http request (Devices Properties)","method":"POST","ret":"obj","paytoqs":false,"url":"192.168.0.10/dprop.jsn","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":240,"wires":[[]]},{"id":"649aa0c2.9fb87","type":"inject","z":"396b91b7.84134e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":240,"wires":[[]]},{"id":"227302d3.acea2e","type":"udp out","z":"da51a6d1.2a0898","name":"","addr":"192.168.0.10","iface":"","port":"1999","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":670,"y":140,"wires":[]},{"id":"16bcbef2.e9e461","type":"inject","z":"da51a6d1.2a0898","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":140,"wires":[["4130ed77.6fdb54"]]},{"id":"4130ed77.6fdb54","type":"function","z":"da51a6d1.2a0898","name":"","func":"msg.payload = Buffer.from(\"2400020f04000c11000000000000000000000000000000000000000000000000000C886\", \"hex\");\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":140,"wires":[["227302d3.acea2e"]]},{"id":"420a3e23.7ad4e","type":"udp in","z":"da51a6d1.2a0898","name":"","iface":"","port":"2000","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":250,"y":240,"wires":[["c90b84e.9d70778"]]},{"id":"c90b84e.9d70778","type":"debug","z":"da51a6d1.2a0898","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":240,"wires":[]},{"id":"de5300f1.44593","type":"udp out","z":"da51a6d1.2a0898","name":"","addr":"192.168.0.10","iface":"","port":"1999","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":670,"y":360,"wires":[]},{"id":"ac8237c7.a28548","type":"inject","z":"da51a6d1.2a0898","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":360,"wires":[["60550025.a7c7a"]]},{"id":"60550025.a7c7a","type":"function","z":"da51a6d1.2a0898","name":"","func":"msg.payload = Buffer.from(\"0500010a0d\", \"hex\");\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":360,"wires":[["de5300f1.44593"]]},{"id":"de1a725f.05c74","type":"debug","z":"9580e305.de522","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":100,"wires":[]},{"id":"8840c078.8293b","type":"function","z":"9580e305.de522","name":"function","func":"var aux = (msg.payload[5].ProcessInputs).replace(/\\s/g,\"\"); //remove whitespace\n\nBTL = {payload: parseInt(aux.slice(0,8),16)/1000}; //leave the first 4 characters, convert to number and divide by 1000 to have the distance in mm\n\nreturn BTL;","outputs":1,"noerr":0,"x":380,"y":100,"wires":[["de1a725f.05c74","786322e5.75090c","825551a8.9d3bb","41ec4720.19fd48"]]},{"id":"825551a8.9d3bb","type":"ui_gauge","z":"9580e305.de522","name":"","group":"b2ffbd2f.f16","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"[mm]","format":"{{value}}","min":0,"max":"175","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":180,"wires":[]},{"id":"786322e5.75090c","type":"ui_text","z":"9580e305.de522","group":"b2ffbd2f.f16","order":0,"width":0,"height":0,"name":"","label":"Distance","format":"{{msg.payload}} [mm]","layout":"row-spread","x":620,"y":140,"wires":[]},{"id":"dd79ce0f.8d23c","type":"http request","z":"9580e305.de522","name":"http request (Device Parameter)","method":"POST","ret":"obj","paytoqs":false,"url":"192.168.0.10/dprop.jsn","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":400,"wires":[["2fcc4aae.760036"]]},{"id":"a4675e43.4d8c","type":"function","z":"9580e305.de522","name":"function","func":"var Offset_BTL = {}\nOffset_BTL.payload = \"Index=64&SubIndex=0&Data=0xfa&Control=2&Port=5\";\nreturn Offset_BTL;","outputs":1,"noerr":0,"x":370,"y":400,"wires":[["dd79ce0f.8d23c"]]},{"id":"2fcc4aae.760036","type":"debug","z":"9580e305.de522","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":400,"wires":[]},{"id":"cb5dbfd.b194a4","type":"debug","z":"11983c9c.013453","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":140,"wires":[]},{"id":"a950195f.0a78d8","type":"function","z":"11983c9c.013453","name":"function","func":"var aux = (msg.payload[7].ProcessInputs).replace(/\\s/g,\"\");  //remove whitespaces\nvar CamToBinary = (parseInt(aux.slice(0,2),16)).toString(2).padStart(4, '0'); //Separate byte 0 where the switch points are and convert the hex number to binary\n\nvar BOD_Cam4 = {payload: CamToBinary.split(' ')[0].substr(0,1)}; //separates the binary digit from each switch point\nvar BOD_Cam3 = {payload: CamToBinary.split(' ')[0].substr(1,1)};\nvar BOD_Cam2 = {payload: CamToBinary.split(' ')[0].substr(2,1)};\nvar BOD_Cam1 = {payload: CamToBinary.split(' ')[0].substr(3,1)};\n\nvar BOD_Dist = {payload: parseInt(aux.slice(2,6),16)};  //Separate byte 1 and 2 where the measurement is and convert to number to have the distance in mm\n\nreturn [BOD_Dist, BOD_Cam1, BOD_Cam2, BOD_Cam3, BOD_Cam4];","outputs":5,"noerr":0,"x":440,"y":120,"wires":[["cb5dbfd.b194a4","f65fa93e.c63088","c051cccb.a8679","8f499934.11fb18"],["89ba591c.3d4ca8","d13f0944.5ceb38"],["6264030a.c0346c"],["dee2e38.2d87e2"],["74156d2.8f56f94"]]},{"id":"c051cccb.a8679","type":"ui_gauge","z":"11983c9c.013453","name":"","group":"cdfc369f.413fa8","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"[mm]","format":"{{value}} ","min":"200","max":"6000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":220,"wires":[]},{"id":"f65fa93e.c63088","type":"ui_text","z":"11983c9c.013453","group":"cdfc369f.413fa8","order":0,"width":0,"height":0,"name":"","label":"Distance","format":"{{msg.payload}} [mm]","layout":"row-spread","x":720,"y":180,"wires":[]},{"id":"89ba591c.3d4ca8","type":"ui_led","z":"11983c9c.013453","group":"214afd7a.668472","order":8,"width":0,"height":0,"label":"Cam1","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"orange","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Cam1","x":710,"y":260,"wires":[]},{"id":"6264030a.c0346c","type":"ui_led","z":"11983c9c.013453","group":"214afd7a.668472","order":8,"width":0,"height":0,"label":"Cam2","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"orange","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Cam2","x":710,"y":300,"wires":[]},{"id":"dee2e38.2d87e2","type":"ui_led","z":"11983c9c.013453","group":"214afd7a.668472","order":8,"width":0,"height":0,"label":"Cam3","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"orange","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Cam3","x":710,"y":340,"wires":[]},{"id":"74156d2.8f56f94","type":"ui_led","z":"11983c9c.013453","group":"214afd7a.668472","order":8,"width":0,"height":0,"label":"Cam4","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"orange","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Cam4","x":710,"y":380,"wires":[]},{"id":"41ec4720.19fd48","type":"influxdb out","z":"9580e305.de522","influxdb":"55b737aa.fb0af8","name":"","measurement":"BTLAR0","precision":"","retentionPolicy":"","x":710,"y":220,"wires":[]},{"id":"8f499934.11fb18","type":"influxdb out","z":"11983c9c.013453","influxdb":"55b737aa.fb0af8","name":"","measurement":"BOD0012","precision":"","retentionPolicy":"","x":820,"y":100,"wires":[]},{"id":"56ae22cd.c40ebc","type":"comment","z":"9580e305.de522","name":"Connected to Port 5","info":"","x":170,"y":40,"wires":[]},{"id":"3d8dd37d.81835c","type":"comment","z":"11983c9c.013453","name":"Connected to Port 7","info":"","x":170,"y":40,"wires":[]},{"id":"dfbe90a6.97c4f","type":"function","z":"3184f3da.e5f84c","name":"function","func":"//var aux = (msg.payload[7].ProcessInputs).replace(/\\s/g,\"\");  //remove whitespaces\n//var CamToBinary = (parseInt(aux.slice(0,2),16)).toString(2).padStart(4, '0'); //Separate byte 0 where the switch points are and convert the hex number to binary\n\n//var BOD_Cam4 = {payload: CamToBinary.split(' ')[0].substr(0,1)}; //separates the binary digit from each switch point\n//var BOD_Cam3 = {payload: CamToBinary.split(' ')[0].substr(1,1)};\n//var BOD_Cam2 = {payload: CamToBinary.split(' ')[0].substr(2,1)};\n//var BOD_Cam1 = {payload: CamToBinary.split(' ')[0].substr(3,1)};\n\n//var BOD_Dist = {payload: parseInt(aux.slice(2,6),16)};  //Separate byte 1 and 2 where the measurement is and convert to number to have the distance in mm\n\n//return [BOD_Dist, BOD_Cam1, BOD_Cam2, BOD_Cam3, BOD_Cam4];\n\n\n// name: Get_Powersupply Volt and Amp\n// outputs: 2\n// This function takes msg.payload as a string of Process Inputs\nvar Powersupply = (msg.payload[4].ProcessInputs).replace(/\\s/g,\"\");  //remove whitespaces\nvar BdcToBinary = (parseInt(Powersupply.slice(6,8),16)).toString(2).padStart(4, '0'); //Separate byte 0 where the switch points are and convert the hex number to binary\n\nvar BAE_BDC3 = {payload: BdcToBinary.split(' ')[0].substr(0,1)}; //separates the binary digit from each switch point\nvar BAE_BDC2 = {payload: BdcToBinary.split(' ')[0].substr(1,1)};\nvar BAE_BDC1 = {payload: BdcToBinary.split(' ')[0].substr(2,1)};\nvar BAE_BDC0 = {payload: BdcToBinary.split(' ')[0].substr(3,1)};\n\nvar voltage = {payload: parseInt(Powersupply.slice(0,3),16)*0.1};\nvar current = {payload: parseInt(Powersupply.slice(3,6),16)*0.1}; \n\nreturn [voltage, current, BAE_BDC0, BAE_BDC1, BAE_BDC2, BAE_BDC3];","outputs":7,"noerr":0,"x":460,"y":140,"wires":[["37880fe7.953af","2b9b188a.aa2f38"],["56c5b61.9996048","2a7ca8eb.972a18"],["410905b4.aa9efc"],["1a65a18e.ddb42e"],["296846e4.e0368a"],["46198cea.e2ca84"],[]]},{"id":"410905b4.aa9efc","type":"ui_led","z":"3184f3da.e5f84c","group":"2f20d031.c9891","order":8,"width":0,"height":0,"label":"Over Load","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"orange","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Over Load","x":750,"y":280,"wires":[]},{"id":"1a65a18e.ddb42e","type":"ui_led","z":"3184f3da.e5f84c","group":"2f20d031.c9891","order":8,"width":0,"height":0,"label":"Over Voltage","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"orange","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Over Voltage","x":750,"y":320,"wires":[]},{"id":"296846e4.e0368a","type":"ui_led","z":"3184f3da.e5f84c","group":"2f20d031.c9891","order":8,"width":0,"height":0,"label":"Over Temperature","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"orange","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Over Temperature","x":770,"y":360,"wires":[]},{"id":"46198cea.e2ca84","type":"ui_led","z":"3184f3da.e5f84c","group":"2f20d031.c9891","order":8,"width":0,"height":0,"label":"Output Drop","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"orange","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Output Drop","x":750,"y":400,"wires":[]},{"id":"2b9b188a.aa2f38","type":"influxdb out","z":"3184f3da.e5f84c","influxdb":"55b737aa.fb0af8","name":"","measurement":"BAE00TK_V","precision":"","retentionPolicy":"","x":850,"y":140,"wires":[]},{"id":"28953c8b.06a704","type":"comment","z":"3184f3da.e5f84c","name":"Connected to Port 4","info":"","x":170,"y":40,"wires":[]},{"id":"37880fe7.953af","type":"ui_gauge","z":"3184f3da.e5f84c","name":"","group":"ab2a7826.982e38","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"[V]","format":"{{value}} ","min":"0","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":100,"wires":[]},{"id":"56c5b61.9996048","type":"ui_gauge","z":"3184f3da.e5f84c","name":"","group":"ab2a7826.982e38","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"[A]","format":"{{value}} ","min":"0","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":180,"wires":[]},{"id":"2a7ca8eb.972a18","type":"influxdb out","z":"3184f3da.e5f84c","influxdb":"55b737aa.fb0af8","name":"","measurement":"BAE00TK_I","precision":"","retentionPolicy":"","x":840,"y":220,"wires":[]},{"id":"f7b6fa4b.806008","type":"inject","z":"3bc064b5.75865c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":80,"wires":[["5355c063.ee2de","426842f2.2d286c","c723a312.a7176"]]},{"id":"5355c063.ee2de","type":"http request","z":"3bc064b5.75865c","name":"http request (Diagnostic Module)","method":"GET","ret":"obj","paytoqs":false,"url":"192.168.0.10/diag_mod.jsn","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":80,"wires":[["754d6448.713f0c","8466136.a9103f"]]},{"id":"754d6448.713f0c","type":"link out","z":"3bc064b5.75865c","name":"diag_mod","links":["20982f27.f91cd"],"x":655,"y":80,"wires":[]},{"id":"426842f2.2d286c","type":"http request","z":"3bc064b5.75865c","name":"http request (Devices Properties)","method":"GET","ret":"obj","paytoqs":false,"url":"192.168.0.10/dprop.jsn","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":280,"wires":[["840d4b95.212148","fb818a69.ebef08"]]},{"id":"840d4b95.212148","type":"link out","z":"3bc064b5.75865c","name":"dprop","links":["21be8c6a.481944","ff71f06b.a7655","a72e791c.7aecb8"],"x":655,"y":280,"wires":[]},{"id":"21be8c6a.481944","type":"link in","z":"11983c9c.013453","name":"","links":["840d4b95.212148"],"x":235,"y":100,"wires":[["a950195f.0a78d8"]]},{"id":"ff71f06b.a7655","type":"link in","z":"9580e305.de522","name":"","links":["840d4b95.212148"],"x":235,"y":100,"wires":[["8840c078.8293b"]]},{"id":"58662b46.06fdf4","type":"inject","z":"9580e305.de522","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":400,"wires":[["a4675e43.4d8c"]]},{"id":"c723a312.a7176","type":"http request","z":"3bc064b5.75865c","name":"http request (Diagnostic Process)","method":"GET","ret":"obj","paytoqs":false,"url":"192.168.0.10/diag.jsn","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":180,"wires":[["6e429a68.518904","d76786b2.2da028"]]},{"id":"6e429a68.518904","type":"link out","z":"3bc064b5.75865c","name":"diag_proc","links":["f62cd3d.7a08d3"],"x":655,"y":180,"wires":[]},{"id":"20982f27.f91cd","type":"link in","z":"a35ac5c2.83bca8","name":"","links":["754d6448.713f0c"],"x":200,"y":120,"wires":[["d6b77143.9f4b2"]]},{"id":"f62cd3d.7a08d3","type":"link in","z":"a35ac5c2.83bca8","name":"","links":["6e429a68.518904"],"x":200,"y":500,"wires":[["675f6b75.366a84"]]},{"id":"a72e791c.7aecb8","type":"link in","z":"3184f3da.e5f84c","name":"","links":["840d4b95.212148"],"x":235,"y":100,"wires":[["dfbe90a6.97c4f"]]},{"id":"8466136.a9103f","type":"debug","z":"3bc064b5.75865c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":120,"wires":[]},{"id":"d76786b2.2da028","type":"debug","z":"3bc064b5.75865c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":220,"wires":[]},{"id":"fb818a69.ebef08","type":"debug","z":"3bc064b5.75865c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":320,"wires":[]},{"id":"d13f0944.5ceb38","type":"influxdb out","z":"11983c9c.013453","influxdb":"55b737aa.fb0af8","name":"","measurement":"BOD0012_Cam1","precision":"","retentionPolicy":"","x":1000,"y":260,"wires":[]}]