flows_DESKTOP-F5Q426D.json
[{"id":"a35ac5c2.83bca8","type":"tab","label":"Handbook IIOT","disabled":false,"info":""},{"id":"1f8d397e.070a67","type":"tab","label":"Blinking led","disabled":false,"info":""},{"id":"acbb5738.a5c768","type":"ui_tab","z":"","name":"BTL","icon":"dashboard","disabled":false,"hidden":false},{"id":"b2ffbd2f.f16","type":"ui_group","z":"","name":"Distancia","tab":"acbb5738.a5c768","order":1,"disp":true,"width":"6","collapse":false},{"id":"33ff6b31.ddfab4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b6a7ed60.c43ed","type":"ui_group","z":"","name":"Diagnostic Module","tab":"acbb5738.a5c768","order":2,"disp":true,"width":"6","collapse":false},{"id":"1be61452.e098bc","type":"ui_group","z":"","name":"Blinking LED","tab":"7ab85675.dd7e78","order":1,"disp":true,"width":"6"},{"id":"7ab85675.dd7e78","type":"ui_tab","z":"","name":"Blinking LED","icon":"dashboard"},{"id":"9d7f4812.ef1c68","type":"inject","z":"a35ac5c2.83bca8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":160,"wires":[["b06b7d36.3faf6"]]},{"id":"b06b7d36.3faf6","type":"http request","z":"a35ac5c2.83bca8","name":"http request (Devices Properties)","method":"GET","ret":"obj","paytoqs":false,"url":"192.168.0.10/dprop.jsn","tls":"","persist":false,"proxy":"","authType":"","x":460,"y":160,"wires":[["2142f7c1.0cf398","230a28aa.f89778"]]},{"id":"2142f7c1.0cf398","type":"debug","z":"a35ac5c2.83bca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":802,"y":140,"wires":[]},{"id":"ad876b85.19b918","type":"debug","z":"a35ac5c2.83bca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1002,"y":200,"wires":[]},{"id":"230a28aa.f89778","type":"function","z":"a35ac5c2.83bca8","name":"function","func":"BTL={};\nvar aux = (msg.payload[5].ProcessInputs).replace(/\\s/g,\"\"); //eliminamos los espacios en blanco\nBTL.payload = parseInt(aux.slice(0,8),16)/1000; //dejamos los primeros 4 caracteres, convertimos a numero y dividimos por 1000 para tener la distancia en mm\nreturn BTL;","outputs":1,"noerr":0,"x":792,"y":200,"wires":[["ad876b85.19b918","a6c6e119.bf578","7c517655.19dcb8","58e4a0c7.df347"]]},{"id":"7c517655.19dcb8","type":"ui_gauge","z":"a35ac5c2.83bca8","name":"","group":"b2ffbd2f.f16","order":1,"width":0,"height":0,"gtype":"gage","title":"Distancia","label":"mm","format":"{{value}}","min":0,"max":"175","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":992,"y":340,"wires":[]},{"id":"a6c6e119.bf578","type":"ui_text","z":"a35ac5c2.83bca8","group":"b2ffbd2f.f16","order":0,"width":0,"height":0,"name":"","label":"Distancia","format":"{{msg.payload}}","layout":"row-spread","x":992,"y":280,"wires":[]},{"id":"58e4a0c7.df347","type":"ui_slider","z":"a35ac5c2.83bca8","name":"","label":"Distancia","tooltip":"","group":"b2ffbd2f.f16","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"175","step":1,"x":1002,"y":400,"wires":[[]]},{"id":"631f297c.ed8078","type":"inject","z":"a35ac5c2.83bca8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":520,"wires":[["8dc462f8.ea475"]]},{"id":"1c6330c6.9bde6f","type":"debug","z":"a35ac5c2.83bca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":540,"wires":[]},{"id":"8dc462f8.ea475","type":"http request","z":"a35ac5c2.83bca8","name":"http request (Diagnostic Module)","method":"GET","ret":"obj","paytoqs":false,"url":"192.168.0.10/diag_mod.jsn","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":520,"wires":[["9ff6f7af.05a978","3c4831c0.b2139e","da78a0a.4779d6","655a05a3.24be1c"]]},{"id":"ef994e9a.80f86","type":"inject","z":"a35ac5c2.83bca8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":860,"wires":[["9bb77f66.cb9a9"]]},{"id":"c71d8c81.87773","type":"debug","z":"a35ac5c2.83bca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":860,"wires":[]},{"id":"9bb77f66.cb9a9","type":"http request","z":"a35ac5c2.83bca8","name":"http request (Diagnostic Process)","method":"GET","ret":"obj","paytoqs":false,"url":"192.168.0.10/diag.jsn","tls":"","persist":false,"proxy":"","authType":"","x":460,"y":860,"wires":[["c71d8c81.87773"]]},{"id":"9052e008.03c8c","type":"comment","z":"a35ac5c2.83bca8","name":"Leer!","info":"Esto se utiliza con una BNI008Z que tiene un FW 3.6.\nEn las BNI mas nuevas los end point son diferentes.","x":170,"y":80,"wires":[]},{"id":"3c4831c0.b2139e","type":"function","z":"a35ac5c2.83bca8","name":"function","func":"Module_leds={};\nvar aux = msg.payload[0].UA; //\n\nif (aux == \"gnst\")\n    Module_leds.payload = true; //verde fijo\nelse if (aux == \"rdst\")\n    Module_leds.payload = false; //rojo fijo\nelse if (aux == \"rdfl\")\n    Module_leds.payload = \"\"; //rojo parpadeante\n\n//Module_leds.payload = aux   //\nreturn Module_leds;","outputs":1,"noerr":0,"x":780,"y":540,"wires":[["1c6330c6.9bde6f"]]},{"id":"9ff6f7af.05a978","type":"debug","z":"a35ac5c2.83bca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":480,"wires":[]},{"id":"bcf20d8d.00db1","type":"ui_led","z":"a35ac5c2.83bca8","group":"b6a7ed60.c43ed","order":0,"width":0,"height":0,"label":"UA","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":1210,"y":680,"wires":[]},{"id":"e86bf912.82ab08","type":"trigger","z":"1f8d397e.070a67","op1":"lime","op2":"black","op1type":"str","op2type":"str","duration":"400","extend":false,"units":"ms","reset":"","name":"","x":400,"y":140,"wires":[["f53c04cf.ea89e8"]]},{"id":"f53c04cf.ea89e8","type":"ui_template","z":"1f8d397e.070a67","group":"1be61452.e098bc","name":"","order":0,"width":0,"height":0,"format":"<svg>\n<circle cx=\"10\" cy=\"10\" r=\"10\" style=\"stroke: none; fill: {{msg.payload}};\"/>\n</svg>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":580,"y":140,"wires":[[]]},{"id":"2a4b486f.0f2af8","type":"inject","z":"1f8d397e.070a67","name":"","topic":"","payload":"Fire","payloadType":"str","repeat":"1","crontab":"","once":false,"x":210,"y":140,"wires":[["e86bf912.82ab08"]]},{"id":"da78a0a.4779d6","type":"function","z":"a35ac5c2.83bca8","name":"function","func":"Module_leds={};\nModule_leds.payload = msg.payload[0].UA; //\nreturn Module_leds;","outputs":1,"noerr":0,"x":780,"y":640,"wires":[["77895a52.d5a644","c15920bb.0b366"]]},{"id":"77895a52.d5a644","type":"change","z":"a35ac5c2.83bca8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"gnst","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"rdst","fromt":"str","to":"false","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"rdfl","fromt":"str","to":"","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":680,"wires":[["bcf20d8d.00db1"]]},{"id":"c15920bb.0b366","type":"debug","z":"a35ac5c2.83bca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":600,"wires":[]},{"id":"ff402c14.df6c","type":"trigger","z":"a35ac5c2.83bca8","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"500","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":400,"y":960,"wires":[["e5673512.f16738"]]},{"id":"e5673512.f16738","type":"ui_led","z":"a35ac5c2.83bca8","group":"b6a7ed60.c43ed","order":0,"width":0,"height":0,"label":"Test","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":590,"y":960,"wires":[]},{"id":"9db973ba.f0845","type":"complete","z":"a35ac5c2.83bca8","name":"","scope":[],"uncaught":false,"x":300,"y":1000,"wires":[[]]},{"id":"99f28b1.104b078","type":"inject","z":"a35ac5c2.83bca8","name":"","topic":"","payload":"true","payloadType":"env","repeat":"","crontab":"","once":true,"onceDelay":"1","x":190,"y":960,"wires":[["ff402c14.df6c"]]},{"id":"655a05a3.24be1c","type":"switch","z":"a35ac5c2.83bca8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"head","v":"0","vt":"num"},{"t":"head","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":760,"wires":[["70c466.669bbb9c"],["558a11.7fdeb5f"]]},{"id":"70c466.669bbb9c","type":"debug","z":"a35ac5c2.83bca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":760,"wires":[]},{"id":"558a11.7fdeb5f","type":"debug","z":"a35ac5c2.83bca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":800,"wires":[]}]